body {
    background: #ffffff;
}

#TomCruise {
    width: 450px;
    border: 10px solid #b4d6f6;
    margin: 0px 0px 0px 350px;
}

.point {
    width: 500px;
    border: 1px dashed #041d6b;
    color: #917f05;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

.top {
    background: #dffff7;
    padding: 10px;
    margin: 50px;
}

img {
    width: 200px;
}
.content {
    background: azure;
    margin: 50px;
    padding: 10px;
}
li p {
    text-align: justify;
}

.content-2 {
    background: beige;
    margin: 50px;
    padding: 10px;
}

.father {
    background: #cff8dd;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    padding: 10px;
}

.movie {
    width: 250px;
    background: azure;
}


.footer {
    background: azure;
    margin: 50px;
    padding: 10px;
    border: 1px dotted lightgray;
}



